{
  "presets": [
    [ "@babel/preset-env", {
        "debug": false,
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
            "node": "current"
        }
    }]],
// sourceMaps: 'inline',
"retainLines": true
    }